{% extends "base.html" %}

{% block title %}
    Donates
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">damn small donut</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0.1 btc<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Give me some money</li>
              <li>I just want eat</li>
              <li>the plight of a beginner.</li>
              <li>(i will prey for you)</li>
            </ul>
            <a href="/"><button type="button" href="" class="w-100 btn btn-lg btn-outline-primary">Help a little</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">donat</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1 btc<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>This give me not only to eat</li>
              <li>even pornhub Premium</li>
              <li>and a cup of tea.</li>
              <li>(for this i will place a candle for you in church)</li>
            </ul>
            <a href="scum/"><button type="button" class="w-100 btn btn-lg btn-primary">Help a little more</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Only for advanced users</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">7 bts<small class="text-muted fw-light">this is them from left to right</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Rap Monster</li>
              <li>Jin, Suga</li>
              <li>J-Hope, JiMin</li>
              <li>V, JungKook</li>
            </ul>
            <a href="https://rusja97.wixsite.com/bts-bangtan/blank-lxusi"><button type="button" class="w-100 btn btn-lg btn-primary">Read more</button></a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}